<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homePage.css') }}">
</head>

<body background="{{ url_for('static', filename='imagini/welcome-page-background.svg') }}">
    <div class="row">
        <div class="column">
          <p><img src="{{ url_for('static', filename='imagini/welcome-page.svg') }}" width="90%"></p>
        </div>
        <div class="column">
            <div class="right">
                <h3>
                    Conectează-te ca: 
                </h3>
                <br>
                <form action="/" method="post">
                    <input type="submit" value="Pacient" name="action1" class="button-connect" role="button"/>
                    <input type="submit" value="Doctor" name="action2" class="button-connect" role="button"/>
                </form>
            </div>
        </div>
    </div>
</body>

</html>