* {
    box-sizing: border-box;
}
  
body{
    background-size: cover;
    background-repeat: no-repeat;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;  
}

.right {
    margin: 0 auto;
    width: 75%;
}

h3{
    margin: 0 auto;
    margin-top: 300px;
}

.button-connect {
  appearance: none;
  backface-visibility: hidden;
  background-color: #509bff;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  margin-right: 40px;
}

.button-connect:hover {
  background-color: #5fbcd3;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-connect:hover:after {
  opacity: .5;
}

.button-connect:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-connect:active:after {
  opacity: 1;
}

@media (min-width: 768px) {
  .button-connect {
    padding: 14px 22px;
    width: 176px;
  }
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
 
@media screen and (max-width: 600px) {
    .column {
        height: auto; 
        overflow: hidden; 
    }   
}